.dark-theme {
  background-color: $black;
  color: $white;

  a {
    color: $blue;
    text-decoration: none;

    &:hover {
      color: $blueDark;
    }
  }

  .bingo-blocks {
    fill: $white;
  }

  .bingo-with-chat {
    fill: $blue;
  }

  .card {
    border-color: $white;
  }

  .col {
    border-color: $white;
  }

  .textarea {
    background-color: $black;
    color: $white;

    &:focus {
      box-shadow: 0 0 0 6px $blueFade;
    }
  }

  .action button {
    background-color: $blue;
    color: $white;

    &:hover {
      background-color: $blueDark;
    }

    &.btn-secondary {
      background-color: $black;
      border-color: $blue;
      color: $blue;

      &:hover {
        background-color: $blueLight;
      }
    }
  }

  footer {
    background-color: $grayDark;
  }
}
