@import '../assets/styles/vars';

.wrapper {
  padding: 1rem;
  min-height: 100vh;
  padding-bottom: 5.5rem;
  transition: 0.5s;

  @media all and (min-width: $breakpoint2) {
    padding-bottom: 4.5rem;
  }
}

.container {
  margin: 0 auto;
  max-width: 600px;
}

header {
  margin-bottom: 1rem;
  position: relative;
  text-align: center;
}

.bingo-logo {
  width: 100%;
}

.dark-mode-toggler {
  background-color: #1a1a1a;
  border-radius: 5px;
  bottom: -0.35rem;
  cursor: pointer;
  height: 30px;
  left: 0;
  position: absolute;
  width: 60px;

  @media all and (min-width: $breakpoint7) {
    bottom: -0.25rem;
  }

  @media all and (min-width: $breakpoint6) {
    bottom: -0.15rem;
  }

  @media all and (min-width: $breakpoint5) {
    bottom: 0;
  }

  @media all and (min-width: $breakpoint4) {
    bottom: 0.2rem;
  }

  @media all and (min-width: $breakpoint3) {
    bottom: 0.4rem;
  }

  @media all and (min-width: $breakpoint2) {
    height: 40px;
    width: 80px;
  }
}

.toggle {
  align-items: center;
  background-color: #313131;
  border-radius: 6px;
  display: flex;
  height: 30px;
  justify-content: center;
  transition: 0.5s;
  width: 30px;

  @media all and (min-width: $breakpoint2) {
    border-radius: 8px;
    height: 40px;
    width: 40px;
  }

  svg {
    color: rgba(255, 255, 255, 0.25);
    transition: 0.5s;
  }
}

.toggle-on {
  margin-left: 30px;

  @media all and (min-width: $breakpoint2) {
    margin-left: 40px;
  }

  svg {
    color: rgba(255, 255, 255, 1);
    filter: drop-shadow(0 0 3px #fff) drop-shadow(0 0 6px #fff);
  }
}

footer {
  box-shadow: 0 3px 8px 0 $black;
  bottom: 0;
  font-size: 0.75rem;
  left: 0;
  line-height: 1.2rem;
  padding: 1rem;
  position: fixed;
  text-align: center;
  width: 100%;

  @media all and (min-width: $breakpoint2) {
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
  }
}
