$black: #000;
$white: rgba(231, 233, 234, 1);
$blue: #00a4d0;
$blueFade: rgba(0, 164, 208, 0.5);
$blueLight: rgba(0, 164, 208, 0.1);
$blueDark: #0093bb;
$gray: #999;
$grayLight: #ddd;
$grayDark: #111;
$breakpoint1: 632px; // max content space (with 1rem padding)
$breakpoint2: 600px; // max usable content space (inside the 1rem padding)
$breakpoint3: 500px;
$breakpoint4: 450px;
$breakpoint5: 420px; // blaze it
$breakpoint6: 380px;
$breakpoint7: 340px;
$breakpoint8: 320px; // smallest designed width
