.card {
  border: 1px solid #000;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

.row {
  display: flex;
}

.col {
  border: 1px solid #000;
  height: 0;
  padding-bottom: 20%;
  position: relative;
  width: 20%;
}

.textarea {
  border: none;
  box-sizing: border-box;
  font-size: 32px;
  height: 100%;
  outline: none;
  overflow: hidden;
  padding: 41.5px 0 0;
  position: absolute;
  resize: none;
  text-align: center;
  width: 100%;

  &:focus {
    box-shadow: 0 0 0 6px rgba(167, 80, 15, 0.5);
    z-index: 1;
  }
}
