.card {
  border: 1px solid;
  margin: 0 auto;
  max-width: 600px;
  transition: 0.25s;
  width: 100%;
}

.row {
  display: flex;
}

.col {
  border: 1px solid;
  height: 0;
  padding-bottom: 20%;
  position: relative;
  transition: 0.25s;
  width: 20%;
}

.textarea {
  border: none;
  font-size: 32px;
  height: 100%;
  outline: none;
  overflow: hidden;
  padding: 41.5px 0 0;
  position: absolute;
  resize: none;
  text-align: center;
  transition: 0.25s;
  width: 100%;

  &:focus {
    z-index: 1;
  }
}
