<ng-container *ngIf="theme$ | async; let theme">
  <bwc-alert *ngIf="showError" [theme]="theme" type="error">
    There was an error saving your game, please try again.
  </bwc-alert>
  <bwc-alert *ngIf="showSuccess" [theme]="theme" type="success">
    Game was successfully saved.
  </bwc-alert>
</ng-container>

<ng-container *ngIf="game$ | async; let game">
  <div #cardElement class="card">
    <div *ngFor="let row of game.card" class="row">
      <div *ngFor="let col of row" class="col">
        <textarea #textareaElement class="textarea">{{ col }}</textarea>
      </div>
    </div>
  </div>
  <div class="actions">
    <bwc-button
      (click)="game.card.length < 15 && game.card.push(['', '', '', '', ''])"
      [disabled]="game.card.length >= 15 || saveInProgress"
      icon="plus"
      theme="secondary"
      type="button"
    >
      Add More
    </bwc-button>
    <bwc-button
      (click)="onSubmit(game.card)"
      [disabled]="saveInProgress"
      [icon]="saveInProgress ? 'loading' : undefined"
      type="submit"
    >
      Save
    </bwc-button>
  </div>
</ng-container>
