@import '../../assets/styles/vars';

.card {
  border: 1px solid;
  margin: 0 auto;
  max-width: 600px;
  transition: 0.25s;
  width: 100%;
}

.row {
  display: flex;
}

.col {
  border: 1px solid;
  height: 0;
  padding-bottom: 20%;
  position: relative;
  transition: 0.25s;
  width: 20%;
}

.textarea {
  border: none;
  font-size: 32px;
  height: 100%;
  outline: none;
  overflow: hidden;
  padding: 41.5px 0 0;
  position: absolute;
  resize: none;
  text-align: center;
  transition: 0.25s;
  width: 100%;

  &:focus {
    z-index: 1;
  }
}

.action {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;

  button {
    border: none;
    border-radius: 6px;
    font-weight: bold;
    text-shadow: 1px 1px 3px $black;
    padding: 8px;
    cursor: pointer;

    &:active {
      text-shadow: -1px -1px 3px $black;
    }

    &:disabled {
      background-color: $gray;
      cursor: not-allowed;
      text-shadow: 1px 1px 3px $black;
    }

    &.btn-secondary {
      border: 2px solid;
      text-shadow: none;
    }
  }
}

.action-left {
  button {
    padding-left: 28px;
    position: relative;

    svg {
      filter: drop-shadow(1px 1px 2px $black);
      left: 5px;
      position: absolute;
      top: 5px;
    }

    &:active svg {
      filter: drop-shadow(-1px -1px 2px $black);
    }

    &:disabled svg {
      filter: drop-shadow(1px 1px 2px $black);
    }

    &.btn-secondary svg {
      filter: none;
    }
  }
}
